<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vue-router@2.0.0/dist/vue-router.js"></script>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div id="app">
        <div>
            <label for="">
                ID：
                <input type="text" class="form-control" v-model="id">
            </label>
            <label for="">
                Name：
                <input type="text" class="form-control" v-model="name" @keyup.enter="add">
            </label>
            <input type="button" value="添加" class="btn btn-primary" @click="add">
            <label for="">
                搜索名称关键词：
                <input type="text" class="form-control" v-model="key">
            </label>
        </div>
        <table class="table">
            <tr>
                <td>id</td>
                <td>Name</td>
                <td>Time</td>
                <td>操作</td>
            </tr>
            <tr v-for="list in search(key)" :key="list.id">
                <td>{{list.id}}</td>
                <td>{{list.name | dataFormat}}</td>
                <td>{{list.ctime|dateFormat('yyyy-MM-dd')}}</td>
                <td><a href="" @click.prevent="del(list.id)">删除</a></td>
            </tr>

        </table>
    </div>

    <script>
        //全局时间过滤器
         Vue.filter('dateFormat',function(dateS,partten){
            var dt=new Date(dateS);
            var y=dt.getFullYear();
            var m =dt.getMonth()+1;
            var d=dt.getDate();

            if(partten && partten.toLowerCase()=='yyyy-MM-dd'){
                return `${y}-${m}-${d}`;
            }else{
                var h =dt.getHours();
                var m =dt.getMinutes();
                var s=dt.getSeconds();
                return `${y}-${m}-${d} ${h}:${m}:${s}`;
            }
            
        })
        var v1 = new Vue({
            el: '#app',
            beforeCreate(){//数据和方法都没有被初始化
                console.log("beforeCreate!");
            },
            created(){      //数据和方法已被初始化
                console.log("--create!");
            },
            beforeMount(){//模板编译完成，但没有渲染

            },
            mountd(){//模板编译完成且完成渲染，组件初始化完毕 

            },
            beforeUpdate(){ //数据更新，(界面)还未更新

            },
            updated(){  //数据更新。界面也被更新

            },
            beforeDestroy(){    //组件还未被销毁

            },
            destroyed(){    //组件完全被销毁

            },
            data: {
                id: "",
                name: "",
                key: "",
                lists: [{
                    id: 1,
                    name: '奔驰',
                    ctime: new Date()
                }, {
                    id: 2,
                    name: '宝马',
                    ctime: new Date()
                }]
            },
            filters:{   //局部过滤器(优先调用)
                dataFormat:function(msg){
                    return msg+1;
                }
            },
            methods: {
                add() {
                    var car = {
                        id: this.id,
                        name: this.name,
                        ctime: new Date()
                    };
                    this.lists.push(car);
                    this.name = '';
                    this.id = '';
                },
                del(id) {
                    this.lists.some((item, i) => {
                        if (item.id == id) {
                            this.lists.splice(i, 1);
                            return true; //若执行，立刻终止后续循环
                        }

                    })
                },
                search(key) {
                    var newList = [];
                    this.lists.forEach(item => {
                        if (item.name.includes(key)) { //ES6新方法includes()
                            // if (item.name.indexOf(key) != -1) {
                            newList.push(item);
                        }
                    });
                    return newList;
                }
            }

        })
       
       
    </script>
</body>

</html>